Flask==3.1.2
Django==6.0
numpy==2.2.6
opencv-python-headless==4.12.0.88
scikit-learn==1.8.0
scipy==1.16.3
joblib==1.5.2
Jinja2==3.1.6
MarkupSafe==3.0.3
itsdangerous==2.2.0
Werkzeug==3.1.4
sqlparse==0.5.4
threadpoolctl==3.6.0
tzdata==2025.2
cloudinary>=1.36.0
blinker==1.9.0
click==8.3.1
colorama==0.4.6
